
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Little About Districts if Bangladesh</h2>
        
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Dhaka</button>
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Khulna</button>
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Barishal</button>
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Chittagong</button>
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Rajshahi</button>
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Rangpur</button>
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='@Url.Action("")'">Sylhet</button>
            <br />
            <button type="button" class="btn btn-outline-dark btn-lg btn-block" onclick="location.href='@Url.Action("")'">Back</button>  
    </div>
</body>
</html>

